 @font-face {
            font-family: "GDS Transport";
            font-style: normal;
            font-weight: normal;
            src: url(https://www.gov.uk/assets/collections/light-94a07e06a1-v2-01565b0034e61d4609689bbb7ae0be844701f3812c8fe029fa1659b7ef3aa94f.woff2) format("woff2"), url(https://www.gov.uk/assets/collections/light-f591b13f7d-v2-369b1da7f442cafca0e8ac0faf1bb64df8170f9c3c7015da1195c8529df5837e.woff) format("woff");
            font-display: fallback
        }

        @font-face {
            font-family: "GDS Transport";
            font-style: normal;
            font-weight: bold;
            src: url(https://www.gov.uk/assets/collections/bold-b542beb274-v2-35bf540bb39615b6a517986f3aa83f7fefa1efd1878603eeeb196488078542d1.woff2) format("woff2"), url(https://www.gov.uk/assets/collections/bold-affa96571d-v2-088c8da9d0319b63b23ac19791f37a33ec0d4b61f884ab56123bfd96d8312153.woff) format("woff");

        }

/* Remove green tick for all valid inputs */
:root {
    --bs-form-valid-bg-image: none !important;
    --bs-form-select-bg-icon-valid: none !important;
}

/* Restore arrow for valid selects */
.form-select.is-valid,
.was-validated .form-select:valid {
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
}


body {
    margin: 0;
    padding: 0;
     font-family: "GDS Transport";
     font-size: 16px;
} 

table,
th,
td,
button,
label,
input {
  font-size: 16px;
}

button{
    font-size: 16px;
}

h1 {
  font-size: 1.25rem;
  margin-bottom: 0;
}

.pims-log-wrapper {
    display: flex;
    align-items: center;
    margin: 4px 0;
}

:focus {
  outline: 2px solid blue;
}

.pims-log {
    border: 1px solid #0374e9;
    border-radius: 10px;
    width: 90px;
    color: #00005c;
    text-shadow: 1px 1px #b0d7ff;
    letter-spacing: 1px;
    background: #fff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 3px;
    margin-left: 10px;
}

.pims-log-wrapper p {
    margin: 0;
    padding: 0 0 0 10px;
    font-size: 16px;
    font-weight: bold;
}

.user-menu {
    background: transparent !important;
    color: #000 !important;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    align-items: center;
    padding: 0 10px;
    background: #ecf5ff;
}

/* Nav menu*/

/*menu bar lines*/
.menu-icon {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    /* Adjust padding as needed */
}

.bar1,
.bar2,
.bar3 {
    width: 28px;
    height: 2px;
    background-color: #454545;
    margin: 6px 0;
    transition: 0.4s;
}


.tdbg{
        background-color: #f3f3f3 !important;
}

.save-btn{
    background-color: #0374e9;
}


.custom-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

table.custom-table th {
    position: sticky;
    top: 0;
    background: #f8f9fa;
    z-index: 2;
	text-align: center;
}


td.action-cell:nth-child(5) {
    display: flex;
}



:root {
    --sidebar-width: 350px;
    --sidebar-width-collapsed: 50px;
}

body {
    overflow-x: hidden;
}

.sidebar {
    width: var(--sidebar-width);
     height: 100vh; 
    background: #00005c;
    /* linear-gradient(135deg, #1a1c2e 0%, #16181f 100%);*/
    transition: all 0.3s ease;
    position: relative;
}

.sidebar.collapsed {
    width: var(--sidebar-width-collapsed);
}

.sidebar-link { 
    transition: all 0.2s ease;
    border-radius: 0;
    margin: 0;
    white-space: nowrap;
    border-bottom: 1px solid #25257e;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.sidebar-link:hover {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    /* transform: translateX(5px);*/
}

.sidebar-link.active {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    /* width: var(--sidebar-width-collapsed);*/
}

.logo-text {
    background: linear-gradient(45deg, #6b8cff, #8b9fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: opacity 0.3s ease;
}

.notification-badge {
    background: #ff6b6b;
    padding: 2px 6px;
    border-radius: 6px;
    font-size: 0.7rem;
}

.profile-section {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.main-content {
    margin-left: 0;
    /* var(--sidebar-width);*/
    background-color: #f8f9fa;
    min-height: 100vh;
    padding: 10px 20px 0px 20px;
    transition: all 0.3s ease;
    width: 100%;
}

.collapsed~.main-content {
    margin-left: 0;
    /* var(--sidebar-width-collapsed);*/
}

.toggle-btn {
    position: absolute;
    right: -15px;
    top: 20px;
    background: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid #00005c;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 100;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.collapsed .toggle-btn {
    transform: rotate(180deg);
}

.collapsed .hide-on-collapse {
    opacity: 0;
    visibility: hidden;
}

.collapsed .logo-text {
    opacity: 0;
}

.collapsed .profile-info {
    opacity: 0;
}

.collapsed .sidebar-link {
    text-align: center;
    padding: 1rem !important;
    /*margin: 4px 8px;*/
    text-align: left;
    width: var(--sidebar-width-collapsed);
}

/* .collapsed .sidebar-link {
     width: var(--sidebar-width-collapsed);
} */

.collapsed .sidebar-link i {
    margin: 0 !important;
}


.sidebar-link-two { 
    transition: all 0.2s ease;
    border-radius: 0;
    margin-bottom: 1px;
    white-space: nowrap;
   /* border-bottom: 1px solid #25257e;*/
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.sidebar-link-two:hover {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    /* transform: translateX(5px);*/
}

.sidebar-link-two.active {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    /* width: var(--sidebar-width-collapsed);*/
}
 

.collapsed .sidebar-link-two {
      text-align: center; 
    /*margin: 4px 8px;*/
    text-align: left; 
   /* width: 10px;*/
}

.collapsed .sidebar-link-two > a {
    width: 290px; 
    visibility: visible;
}

.profile-info {
    transition: opacity 0.2s ease;
}

.row .align-items-start>table {
    border: 1px solid #ccc;

}

.thead-light>tr>th {
    background: #edf4ff;
    border: 1px solid #1d70b8;
    
}

.search-panel {
    border: 1px solid #848484;
    margin: 0;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: flex-end;
    flex-direction: row;
    border-radius: 5px 5px 0 0;
}

.input-group {
    margin: 0px;
}

.input-group-append {
    border-radius: 0 !important;
}

.input-group-text {
    border-radius: 0 5px 5px 0;
    padding: 10px;
    border: 1px solid #919191;
}

.margin-left-10 {
    margin-left: -10px;
}

.tbl-border {
    border: 1px solid #ccc;
    margin-top: -1px;
}

.display-flex {
    display: flex;
    align-items: center;
}

.display-flex-btn {
    display: flex; 
    align-items: center;
    justify-content: flex-start;
}

.display-flex label {
    margin-right: 10px;
}

.display-flex p {
    margin: 0;
}

.document-foler {
    position: absolute;
    float: right;
    text-decoration: none;
    right: 8px;
}

.document-foler-link {
    border: 1px solid #ccc;
    text-decoration: none !important;
    color: #003f9c;
}

.document-foler-link:hover {
    border: 1px solid #0d6efd;
}

/* .form-control {
    border: 1px solid #919191 !important;
} */

.display-flex>div>label {
    font-weight: bold;
}

.green {
    color: green;
}
 
/* 
.form-select {
    border: 1px solid #919191 !important;
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
}

/* Force the default dropdown arrow even when valid */
/* .was-validated .form-select:valid:not([multiple]):not([size]),
.form-select.is-valid:not([multiple]):not([size]) {
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
}  */

 

.form-check-input {
    border: 1px solid #919191 !important;
    width: 1em;
    height: 1em;
}

.margin-left10 {
    margin-left: 10px;
}

.nav-tabs .nav-link.active {
    border: 1px solid #919191 !important;
    border-bottom: 0px !important;
}

.footer {
    text-align: center;
    background: #eeeeee;
    border: 1px solid #ccc;
    width: 100%;
    position: relative;
    padding: 10px;
    bottom: 0;
    /* margin-top: 10px; */
	    padding: 4px;
    font-size: 14px;
    color: #495057;
}

.footer p {
    margin-bottom: 0;
}

.was-validated .form-select:invalid:not([multiple]):not([size]) {
    border: 1px solid red !important;
}

/* .form-select {
  --bs-form-select-bg-img: none;
} */

/* ✅ Remove tick icon for input/text fields */
/* Remove green tick icon but keep dropdown arrow */
/* ✅ Remove tick icon for input/text fields */

/* .form-control.is-valid,
.was-validated .form-control:valid {
    border: 3px solid green;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
  background-size: 0 !important;
} */


/* .was-validated .form-select:valid:not([multiple]):not([size]),
.form-select.is-valid:not([multiple]):not([size]),
.was-validated .form-select:invalid:not([multiple]):not([size]),
.form-select.is-invalid:not([multiple]):not([size]) {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
} */


/* .was-validated .form-select:valid:not([multiple]):not([size]) {
    --bs-form-select-bg-img: none !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
}

.was-validated .form-control:valid:not([multiple]):not([size]) {
    --bs-form-select-bg-img: none !important;
    background-image: none !important;
} */

/* #dpselectproject-ts-control{
    --bs-form-select-bg-img: none !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") no-repeat !important;
} */

 .ts-control > input {
    font-size:inherit;
    color:#000 !important;
 }

 .ts-wrapper .ts-control .item { 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    padding-right: 20px;
    max-width: 100%;
}

.ts-control {
    position: relative;
    font-family:inherit;
      
    
    padding: 7px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:1px solid #ccc;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.ts-control::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    width: 14px;
    height: 14px;
    transform: translateY(-50%);
    pointer-events: none;

    /* SVG Down Arrow */
    background-image: url("data:image/svg+xml;utf8,\<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'> \<path d='M5 7L10 12L15 7' stroke='%23555' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/> \</svg>");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.ts-control{
    border-radius: 10px;
}

.ts-dropdown-content{
    font-size: 16px !important;
}

/* .form-select.is-valid:not([multiple]):not([size]), .form-select.is-valid:not([multiple])[size="1"], .was-validated .form-select:valid:not([multiple]):not([size]), .was-validated .form-select:valid:not([multiple])[size="1"]{
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
}

 
.form-select.is-valid,
.was-validated .form-select:valid {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
 
} */



/* .was-validated .form-select:valid:not([multiple]):not([size]){
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
 } */




/* .needs-validation > .form-control:valid,
.needs-validation > .form-control:invalid {
  background-image: none !important;
} */


.popup {
    position: fixed;
    top: 0;
    left: -100%;
    /* Initially off-screen to the left */
    width: 300px;
    /* Adjust as needed */
    height: 100%;
    background-color: #fefefe;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: left 0.5s ease-in-out;
    /* Smooth slide transition */
    z-index: 1000;
}

.popup.open {
    left: 0;
    /* Slide in when 'open' class is added */
}

.popup-content {
    padding: 20px;
}

.close-btn {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
 

.sideform {
  position: fixed;               /* overlay — won't affect footer layout */
  top: 0;
  right: 0;
  height: 100vh;
  width: 950px;
  background: #fff;
  box-shadow: -4px 2px 7px #626262;
  box-sizing: border-box;
  padding: 20px;
  transform: translateX(100%);   /* start off-screen */
  opacity: 0;
  visibility: hidden;
  transition:
    transform 0.4s ease,
    opacity 0.3s ease,
    visibility 0.3s ease;
  z-index: 100;
}

/* When open (slide in) */
.sideform.open {
  transform: translateX(0);      /* slide into view */
  opacity: 1;
  visibility: visible;
}





.backdrop{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #333333;
    opacity: 0.4;
    display: none;
    z-index: 100;
}

.backdrop.open{
    visibility: visible;
    display: block;
}

/*PACT MENU*/

.close-btn {
    font-size: 18px;
    color: #666;
    cursor: pointer;
    padding: 5px;
}

.close-btn:hover {
    color: #333;
}

.container {
    display: flex;
    height: calc(100vh - 60px);
}

/* .sidebar {
    width: 350px;
    background-color: #4CAF50;
    padding: 20px;
    overflow-y: auto;
    border-right: 2px solid #333;
} */

.menu-title {
    color: #000;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #333;
    background-color: rgba(255, 255, 255, 0.1);
}

.menu-section {
    /* margin-bottom: 15px; */
}

.menu-item {
    /* width: 100%;
    padding: 12px 15px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2s; */
}

.menu-item:hover {
   /* background-color: #e0e0e0;*/
}

.menu-item.standalone {
    background-color: #e8e8e8;
}

.toggle-header > div {
    width: 210px;
}

.arrow {

    transition: transform 0.3s;
    margin-left: 5px;
    position: absolute;
    justify-content: flex-end;
    right: 20px;
}

.menu-item.active .arrow {
    transform: rotateX(180deg);
}

.submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    /* margin-top: 5px; */
}

.submenu.open {
    max-height: 500px;
}

.submenu-item {
    width: 100%;
    padding: 10px 54px;
    
    /* background-color: #f8f8f8; */
    border-bottom: 1px solid #25257e;
    /* border-radius: 3px; */
    cursor: pointer;
    font-size: 13px;
    color: #a0a3bd;
    /* margin-bottom: 3px; */
    text-align: left;
    transition: background-color 0.2s;
}

.submenu-item:hover {
    /* background-color: #e8e8e8; */
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
}



.submenu-item:last-child {
    margin-bottom: 0;
}

.content {
    flex: 1;
    background-color: #fff;
    padding: 30px;
}

.content-placeholder {
    text-align: center;
    margin-top: 50px;
}

.content-placeholder h3 {
    color: #4CAF50;
    margin-bottom: 15px;
    font-size: 24px;
}

.content-placeholder p {
    color: #666;
    font-size: 16px;
}


.action{
        display: flex;
}

 

.action-buttons {
    display: flex;
    align-items: center; 
    margin-top: 8px;
}
#row-controls {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    
    .sidebar {
        width: 100%;
        height: auto;
        max-height: 300px;
    }
    
    .content {
        padding: 20px;
    }
}

table#pacttable > tbody > tr > td {
    padding: 0;
}

/*arrow move and down*/
.toggle-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    gap:12px;
    /*background: #f3f3f3;*/
    cursor: pointer;
   /* border: 1px solid #ddd;*/
}

.row-arrow {
    font-size: 33px;
    display: inline-block;
    transition: transform 0.3s ease;
    
}

/* Expanded → arrow down (rotated 90°) */
.toggle-header.active .row-arrow {
    transform: rotate(90deg);
}

/* Collapsed → arrow up (45°) */
.toggle-header.collapsed .row-arrow {
    transform: rotate(0deg);
}

.toggle-content {
    padding: 0;
    display: none;
    border: 1px solid #ddd;
    border-top: none;
    overflow: auto;
}


/*horizontal menu*/
/* Base navbar style */

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: #1d70b8 !important;
    padding: 0;
}

.dropdown-admin-menu {
    top: 0 !important;
    padding: 0;
    border-radius: 0;
    border:1px solid #003078;
    border-bottom: 0;
}
 
.dropdown-menu {
  /*  top: 39px !important;*/
    padding: 0;
    border-radius: 0;
    border:1px solid #003078;
    border-bottom: 0;
}

.dropdown-item {
    font-size: 14px;
    border-bottom: 1px solid #003078;
    line-height: 30px;
}

.dropdown-item:focus,
.dropdown-item:hover {
    /* background-color: #003078; */
    background-color: #1d70b8;
    color: #fff;
    font-size: 14px;
}

.nav-link {
    font-size: 14px;
    color: #fff !important;
    padding: 10px 20px !important;
    border-right: 1px solid #003078;
}


.nav-link:focus, .nav-link:hover{
    background-color: #003078;
}

.navbar-expand-lg .navbar-nav .dropdown-menu{
        width: auto;
        min-width: 280px;
        z-index: 1200;
        line-height: 40px;
}
    .navbar-nav .dropdown-menu {
      position: absolute;
    }


    /* Show submenu on hover */
    .dropdown-menu > li:hover > .dropdown-menu {
      display: block;
      left: 100% !important;
    top: auto !important;
    margin-top: -34px;
    }

   

    /* Prevent submenu from clipping */
    .dropdown-menu {
      overflow: visible !important;
    }

/* table#timejobtable > tbody > tr >td:nth-child(1) {
    width: 34%;
}

table#timejobtable > tbody > tr >td:nth-child(2) {
    width: 24%;
} */

.selected-table-row {
    --bs-table-bg: #0058bd !important;
    --bs-table-color:#ffffff !important;
}

.jobcodediv{
     max-height: 400px;
    height: 400px;
    overflow-y: auto;
    border: 1px solid #1d70b8 !important;
    border-top: 0 !important;
}


/*accordion div css */
div#collapseOne {
    border: 1px solid #85afd4;
}

button.accordion-button {
    border: 1px solid #1d70b8;
     font-size: 16px;
    background: #d4ebff;
    font-weight: 600;
}

button.accordion-button:focus{
box-shadow: 0 0 0 #fff !important;
outline: none !important;
}

button.accordion-button.collapsed {
    font-size: 16px;
    background: #d4ebff !important;
    font-weight: 600;
}

button.accordion-button:not(.collapsed){
    font-size: 16px;
    background: #d4ebff !important;
    font-weight: 600;
}
    /* Adjust for small screens */
    @media (max-width: 991px) {
      .dropdown-menu .dropdown-menu {
        position: static;
        margin-left: 0;
      }
    }

    .table-wrapper {
    max-height: 300px;
    height: 165px;
    overflow-y: auto;
}



.sidenav {
      width: 20px;
    /*height: 300px;*/
    background: #d4ebff;
    transition: all 0.3s ease;
    position: relative;
    border: 1px solid #1d70b8;
    border-radius: 0 8px 8px 0;
    margin-bottom: 10px;
    margin-right: 5px;
}

.sidenav.collapsed {
    /*width: var(--sidebar-width-collapsed);*/
    width: 300px;
}


.slidepopup {
      width: 600px;
    /*height: 300px;*/
    background: #d4ebff;
    transition: all 0.3s ease;
    position: relative;
    border: 1px solid #1d70b8;
    border-radius: 0 8px 8px 0;
    margin-bottom: 10px;
    margin-right: 5px;
}

.slidepopup.collapsed {
    /*width: var(--sidebar-width-collapsed);*/
    width: 0px;
}

.accordion-button::after{
    background-image: none !important;
}

.sidenav > ul
{
    margin: 0;
    padding: 0;
}

.sidenav > ul > li {
    font-size: 16px;
    border-radius: 0 8px 8px 0;
    background-color: #2196F3;
  
}

.sidenav > ul > li a {
    text-decoration: none;
      padding: 12px;
      display: inline-flex;
      width: 100%;
      visibility: hidden;

}

.sidenav > ul > li a:hover{
    background-color: #00005c;
}

/* table#pacttable > tbody > tr > td {
    padding: 0;
} */


.dashboard-bg{
    background: url("../../images/homebg.jpg") center/cover no-repeat fixed;
    min-height: 533px;position: relative;
   /*  background: url("images/fieldbg2.jpg") center/cover no-repeat fixed;*/
    
}


.dashboard-bg::before {
  content: "";
  position: absolute;
  inset: 0;
 /* background: rgba(0, 0, 0, 0.7);*/
  z-index: 1;
}


.dashboard-child-div {
   /* background-color: #4a4aef;*/
    background-color: rgb(74 74 239 / 53%);
    width: 100%;
    height: 200px;
    position: relative;
    top: 140px; 
    z-index: 2;
}


table#tblprojectjobcode > tbody >tr >td:nth-child(2) { 
    max-width: 320px;
}

table#tblprojectjobcode > tbody >tr >td:nth-child(1){
    max-width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
}

 .closebtn{
    background:none;
    border: none;
    font-size: 14px;
    padding: 9px 7px 10px 7px;
    line-height: 5px;
    cursor: pointer;
}

.closebtn:hover{
    background: none;
}

.chart-wrapper {
  /*width: 100%;*/
  max-width: 50%;
  /*aspect-ratio: 4 / 3;*/
 /* margin: 0;*/
}

svg {
  width: 100%;
  height: auto;
  background: #fff;
}

/* Light theme */
.grid { stroke: #eee; stroke-width:0.3; }
.axis { stroke: #4d4d4d; stroke-width:0.3; }
.label { fill: #888; font-size: 3px; }
#line { stroke: #4f8df5; fill: none; stroke-width: 0.4; }
.point { fill: #4f8df5; }

.grid {
  stroke: #e0e0e0;
  stroke-width: 0.2;
}

.x-axis-zero {
  stroke: #000;
  stroke-width: 0.2;
}

.label {
  font-size: 2.5px;
  fill: #666;
}

.axis-legend {
  font-size: 3px;
  fill: #333;
  font-weight: 600;
}

.v-grid {
  stroke: #e0e0e0;     /* visible but light */
  stroke-width: 0.5;
  vector-effect: non-scaling-stroke;
}